<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../static/append.js" type="text/javascript"></script>
</head>
<body>
    <form method="post">
<!--        <textarea rows="3" cols="70" name="content" placeholder="在此留言">-->

<!--        </textarea>-->
        留言文:{{form.content}}
        <br>
        留言人:{{form.sender}}
<!--        <input type="text" name="sender" placeholder="留言人">-->
        <br>
        <input type="submit" value="留言">
        <input type="reset" value="重写">
        <br>
<!--        <input type="text" name="allMessage" value="{{message}}">-->
<!--        <br>-->
    </form>
    <ul>
        {%for each in entries%}
        <li>{{each.content}} Send by {{each.sender}}
        {%endfor%}
    </ul>
<!--    <textarea name="show" placeholder="留言板" rows="20" cols="70"></textarea>-->

<!--        <script>-->
<!--            var eln = document.getElementsByName("show")-->
<!--            eln.value = eln.value + document.form1.content.value-->
<!--        </script>-->
</body>
</html>